@import "reset.css";
@import "video-js.min.css";

body{
    min-height: 100vh;
    background: #f1f1f1;
}
#J_preview-video{
    width: 500px;
    height: 311px;
    overflow-x: hidden;
}
.video-js .vjs-tech{}
.viewport{
    width: 1000px;
    padding: 20px;
    margin: 40px auto;
    background: #fff;
}
.preview-video{
    width: 500px;
    float: left;
    height: 311px;
}
.editor-handler-box{
    position: relative;
}
.editor-bar{
    height: 240px;
    padding: 30px 20px 20px 70px;
    position: relative;
    background: #f0f0f0;
}
.editor-bar:before{
    content: '';
    background: no-repeat url('../images/www-editor-vflF01GBl.webp') -14px -418px;
    width: 25px;
    height: 18px;
    position: absolute;
    left: 20px;
    top: 52px;
}
.editor-detele-btn{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: url("../images/close.png") no-repeat;
    background-size: 100% 100%;
    right:3px;
    top: 3px;
    cursor: pointer;
    display: none;
}
.editor-detele-btn i{
    width: 8px;
    height: 8px;
    background: url("../images/delete.png") no-repeat;
    background-size: 100% 100%;
}
.editor-detele-btn embed{
    cursor: pointer;
}
.editor-timeline{
    display: flex;
    display: -webkit-flex;
    float: left;
}
.editor-timeline > li{
    position: relative;
    width: 120px;
}
.editor-img-fragment{
    width: 100%;
    height: 68px;
    position: relative;
}
.editor-img-fragment:hover .editor-thumb-time{
    display: block;
}
.editor-img-fragment:hover .editor-detele-btn{
    display: block;
}
.editor-timeline > li:last-of-type .editor-timeLine-fragment:after{
    content: '';
    position: absolute;
    right: -1px;
    bottom: 0;
    width: 1px;
    height: 6px;
    background: #c0c0c0;
}
.editor-timeline > li:last-of-type .editor-timeLine-fragment{
    border-right: 1px solid #e4e4e4;
}
.editor-timeline > li:last-of-type .editor-timeLine-fragment .e-endtime{
    display: block;
}
.editor-timeline > li img{
    width: 100%;
    height: 100%;
    border-left: 1px solid #d3d3d3;
}
.editor-thumb-time{
    position: absolute;
    opacity: .75;
    padding: 0 4px;
    background: #000;
    color: #fff !important;
    font-weight: 500;
    font-size: 11px;
    height: 14px;
    line-height: 14px;
    display: inline-block;
    bottom: 2px;
    right: 2px;
}
.editor-timeLine-fragment{
    position: relative;
    height: 80px;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #c0c0c0;
}
.editor-timeLine-fragment:before{
    content: '';
    position: absolute;
    left: -1px;
    bottom: 0;
    width: 1px;
    height: 6px;
    background: #c0c0c0;
}
.editor-time-fragment {
    width: 46px;
    height: 12px;
    position: absolute;
    font-size: 11px;
    bottom: -15px;
    color: #555;
    font-weight: normal;
    text-align: center;
}
.e-starttime{
    left: -24px;
}
.e-endtime{
    right: -24px;
    display: none;
}

.editor-playline{
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 3px;
    height: 152px;
    z-index: 99;
    background: #126db3;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}
.editor-playline:after{
    content: '';
    position: absolute;
    bottom: 0;
    background: no-repeat url('../images/www-timeline-vflO7PcmT.webp') -12px -60px;
    transform: translate(-2.6px, 0);
    -webkit-transform: translate(-2.6px, 0);
    width: 9px;
    height: 8px;
    left: 0px;
}
.editor-playline-line{
    cursor: col-resize;
    width: 100%;
    height: 100%;
    display: block;
}
.editor-playline-time{
    position: absolute;
    display: inline-block;
    opacity: 1;
    width: 36px;
    text-align: center;
    bottom: -15px;
    font-size: 11px;
    font-weight: 500;
    background: #126db3;
    color: #fff;
    height: 16px;
    line-height: 16px;
    left: -18px
}
.editor-playline-clip{
    position: absolute;
    width: 18px;
    height: 20px;
    background: #126bd3;
    cursor: pointer;
    opacity: .9;
    left: -8px;
    top: 30px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
.editor-playline-clip:after{
    content: '';
    display: inline-block;
    background: no-repeat url('../images/www-timeline-2x-vflhG_DP3.webp') 0 0;
    background-size: 26px 74px;
    width: 8px;
    height: 10px;
}

.vjs-editor-progress{
    position: absolute;
    z-index: 9999;
    padding-right: 2px;
    left: 0;
    right: 0;
    bottom: 3em;
    height: 10px;
    background: #777777;
    opacity: 1;
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
}
.vjs-editor-progress:hover .vjs-editor-moveicon{
    display: block;
}
.vjs-editor-progress:hover .vjs-editor-timeplay{
    display: block;
}
.vjs-progress-line{
    padding-left: 0px;
    min-width: 8px;
    max-width: 492px;
    width: 0%;
    height: 100%;
    position: relative;
    cursor: pointer;
    background: #cc181e;
}
.vjs-progress-icon{
    position: absolute;
    width: 16px;
    height: 16px;
    background: #eaeaea;
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    right: -8px;
    top: -30%;
}
.vjs-progress-icon i{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #adadad;
}
.vjs-progress-icon:hover i{
    background: #cc181e;
}
.vjs-editor-moveicon{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #2c2323;
    bottom: 10px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    display: none;
}
.vjs-editor-timeplay{
    position: absolute;
    width: 36px;
    height: 18px;
    background: #2c2323;
    bottom: 16px;
    line-height: 18px;
    text-align: center;
    font-size: 8px;
    left: 18px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    display: none;
}
.vjs-fullscreen-control{
    display: none !important;
}

.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-editor-progress{
    opacity: 0;
}
.vjs-paused .vjs-editor-progress{
    display: none;
}
.vjs-has-started .vjs-editor-progress{
    display: block;
}
.vjs-progress-control{
    display: none !important;
}
.vjs-time-control{
    display: none !important;
}
.video-js .vjs-control:before {
    font-size: 1.8em !important;
    line-height: 2 !important;
}
.vjs-editor-curtime{
    line-height: 38px;
}

.editor-operation-box{
    padding: 30px;
    overflow: hidden;
}
.editor-p-btn{
    display: inline-block;
    /*height: 36px;*/
    line-height: 16px;
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-align: center;
    padding: 13px 15px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
}
.editor-p-btn:hover{
    background: #4db3ff !important;
}
.ghost-video-clip{
    position: relative;
    float: left;
    width: 120px;
    height: 68px;
    outline: 1px dashed #c0c0c0;
}